
body {
  background-color: #D4A76A;
}
header {
  background-color: #FFDBAA;
  color: #553100;
  font-size: 2em;
  font-weight: bold;
}

nav {
  background-color: #805215;
  text-align: right;
  border-width: 10px;
}
nav a {
  color: white;
  padding: 10px 15px;
  font-weight: bold;
}

nav background {
  background-color: #553100;
  }

  .flight-options{
    display:flex;
    justify-content: center;
    width: 2000px;
    height: 150px;
    }

.flights {
  background-color: white;
  margin: 10px;
  text-align: center;
}

.group-trips {
  background-color: white;
  margin: 10px;
  text-align: center;
}

.discount-flights {
  background-color: white;
  margin: 10px;
  text-align: center;
}
.about-us {
    background-color: white;
    margin: 10px;
    text-align: center;
}

button {
  background-color: #805215;
  color: white;
  margin-top: 20px;
  font-weight: bold;
}

/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
